<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPUq51xfZlkFMqEqY6z3TgU04h63CsdrM</string>
	<key>GCM_SENDER_ID</key>
	<string>1082101880906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chuanpham.instaclone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-319dc</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-319dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082101880906:ios:583b6e147d1f9624e0eeb3</string>
</dict>
</plist>